:root{
    --verde: green;
    --rojo: red;
    --negro: black;
}
h1{
    font-size: 60px;
    color: red;
    text-align: center;
}
li{
    font-size: 30px;
    border: 1px black solid;
    margin-bottom: 20px;
}
span{
    color: green;
}
.ausente{
    color:red;
}
ol{
    padding: 20px;
    padding-left:40px;
}
div{
    border:solid black 1px;
    width: fit-content;
    margin: auto;
}
.ultimo-li{
    margin-bottom:0;

}